<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>Sunny World</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
  <%= stylesheet_link_tag "application", "style", "carousel", :media => "all", "data-turbolinks-track" => "false" %>
  <%= javascript_include_tag "jquery-1.9.1", "bootstrap", 'application', 'apps', 'scrollMonitor', 'pace', 'data-turbolinks-track' => "false" %>

  <%= csrf_meta_tags %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN BASE JS ================== -->
  <!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
<!-- begin #page-container -->
<div id="page-container" class="fade">
  <!-- begin #header -->
  <div id="header" class="header navbar navbar-transparent navbar-fixed-top">
    <!-- begin container -->
    <div class="container">
      <!-- begin navbar-header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          <img class="header-logo" src="<%= asset_url("logo_sunnyworld.png") %>"/>
        </a>
      </div>
      <!-- end navbar-header -->
      <!-- begin navbar-collapse -->
      <div class="collapse navbar-collapse" id="header-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Trang chủ</a></li>
          <li><a href="/buy">Cho bán</a></li>
          <li><a href="/rent">Cho thuê</a></li>
          <li><a href="/agents">Môi giới</a></li>
          <li><a href="/blog" data-click="scroll-to-target">Blog</a></li>
          <li>
            <div class="dropdown">
              <button class="btn btn-default no-color dropdown-toggle" type="button" data-toggle="dropdown">
                <span>VN</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu no-color">
                <li><a href="#">VN</a></li>
                <li><a href="#">CN</a></li>
                <li><a href="#">EN</a></li>
              </ul>
            </div>
          </li>
          <li><a href="/profile/posts">Đăng nhập</a></li>
        </ul>
      </div>
      <!-- end navbar-collapse -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #header -->

  <%= yield %>

  <!-- begin #footer -->
  <div id="footer" class="footer">
    <div class="container">

      <div class="row">
        <div class="col-xs-6 col-md-3"><img class="header-logo" src="<%= asset_url("logo_sunnyworld.png") %>"/></div>
        <div class="col-xs-6 col-md-6">
          <div class="icon-footer-wrapper">
            <div class="icon-footer-container">
              <img class="icon-footer-img" src="<%= asset_url("ic-local-post-office.png") %>" alt="img"/>
            </div>
            <div style="display:inline-block;">
                <div>info@sunnyworld.com.vn</div>
            </div>
          </div>
          <div class="icon-footer-wrapper">
            <div class="icon-footer-container">
              <img class="icon-footer-img" src="<%= asset_url("ic-phone.png") %>" alt="img"/>
            </div>
            <div style="display:inline-block;">
                <div>(028) 3920 6536 - (028) 3920 6537</div>
            </div>
          </div>
          <div class="icon-footer-wrapper">
            <div class="icon-footer-container">
              <img class="icon-footer-img" src="<%= asset_url("ic-location.png") %>" alt="img"/>
            </div>
            <div style="display:inline-block;">
                <div>193 Trần Hưng Đạo, Cô Giang, Quận 1, TP. Hồ Chí Minh</div>
            </div>
          </div>
          <div></div>
          <div></div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="contact-form-heading">Đăng ký để nhận tin tức sớm nhất từ Sunnyworld</div>
          <div class="footer-contact-form">
            <i>
              <img class="icon-footer-img" src="<%= asset_url("ic-email.png") %>"/>
            </i>
            <input type="text" class="input-search" placeholder="email"/>
          </div>
          <div class="near-icon-container"></div>​
        </div>
      </div>
    </div>
  </div>
  <!-- end #footer -->
</div>
<!-- end #page-container -->

<div class="social">
  <div class="row">
    <div class="col-xs-6 col-md-4 title">Copyright &copy; 2017 Sunny World</div>
    <div class="col-xs-6 col-md-3"></div>
    <div class="col-xs-6 col-md-5">
      <span><a href="#">Giới thiệu |</a></span>
      <span><a href="#">Chính sách |</a></span>
      <span><a href="#">Liên hệ</a></span>
      <span><img class="icon" src='<%= asset_url("ic-pinterest.png") %>'/></span>
      <span><img class="icon" src='<%= asset_url("ic-fb.png") %>'/></span>
      <span><img class="icon" src='<%= asset_url("ic-twitter.png") %>'/></span>
      <span><img class="icon" src='<%= asset_url("ic-gplus.png") %>'/></span>
    </div>
  </div>
</div>



<!-- ================== END BASE JS ================== -->

<script>
  $(document).ready(function () {
    App.init();
  });
</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s);
  js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=310642566038027";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
