<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
  <%= stylesheet_link_tag "application", "editor-style", "editor-default", "editor-animate", "editor-style-responsive", :media => "all", "data-turbolinks-track" => "reload" %>

  <!-- ================== END BASE CSS STYLE ================== -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash_messages' %>
  <%= render 'devise/sessions/content' %>
</body>
</html>
