
<div class="content edit-content">
  <!--<div class="panel-heading">-->
  <!--<h4 class="edit-title">Sửa thông tin cá nhân</h4>-->
  <!--</div>-->

  <div class="panel-body panel-editor">
    <%= form_tag(root_url.sub! 'http://', 'https://' + 'onepay/do.php', method: 'post') do %>

        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12 profile-avatar">
              <img class="" src="/assets/budget_icon.png" alt="">
            </div>
          </div>

          <input type="hidden" name="virtualPaymentClientURL" value="<%= Constant::ONEPAY_URL %>" >
          <input type="hidden" name="vpc_Version" value="2" >
          <input type="hidden" name="vpc_Currency" value="VND" >
          <input type="hidden" name="vpc_Command" value="pay" >
          <input type="hidden" name="vpc_AccessCode" value="<%= Constant::ONEPAY_ACCESSCODE %>" >
          <input type="hidden" name="vpc_Merchant" value="<%= Constant::ONEPAY_MERCHANT %>" >
          <input type="hidden" name="vpc_Locale" value="vn" >
          <input type="hidden" name="vpc_ReturnURL" value="<%= root_url.sub! 'http://', 'https://' %>onepay/dr.php" >
          <input type="hidden" name="vpc_MerchTxnRef" value="<%= current_user.id.to_s + '_' + (0...16).map { (65 + rand(26)).chr }.join  %>" >
          <input type="hidden" name="vpc_OrderInfo" value="SW_NapTien" >
          <input type="hidden" name="AgainLink" value="<%= root_url.sub! 'http://', 'https://' %>profile/budget" >
          <input type="hidden" name="Title" value="onepay" >
          <input type="hidden" name="vpc_TicketNo" value="<%= request.remote_ip %>" >

          <div class="form-group">
            <label class="col-md-2 control-label">Tiền trong ví</label>
            <div class="col-md-8">
              <input type="text" class="form-control" value="<%= current_user.budget %> vnd" disabled>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Số tiền nạp vào</label>
            <div class="col-md-8">
              <input  class="form-control" value="" name="vpc_Amount" type="number" min="0">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Gửi</label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-sm btn-success">Thanh toán</button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
