  <div class="item active no-background">
    <div class="container" data-animation="true" data-animation-type="fadeInDown">

      <div class="row row-space-10">
        <!-- begin col-3 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin work -->
          <div class="home-card-agent">
                <div class="image">
                  <a href="/detail/1"><img src="<%= asset_url('agent_1.jpg') %>" alt="Work 1"/></a>
                </div>
                <div class="agent-name">Nguyễn Văn Cường</div>
                <div class="agent-job">Tu vấn viên Sunnyworld</div>
                <div class="agent-email">cuong.nguyen@sunnyworld.com</div>
          </div>
          <!-- end work -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin work -->
          <div class="home-card-agent">
                <div class="image">
                  <a href="/detail/1"><img src="<%= asset_url('agent_2.jpg') %>" alt="Work 1"/></a>
                </div>
                <div class="agent-name">Trần Lan Anh</div>
                <div class="agent-job">Tu vấn viên tự do</div>
                <div class="agent-email">anh.tran@sunnyworld.com</div>
          </div>
          <!-- end work -->
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin work -->
          <div class="home-card-agent">
                <div class="image">
                  <a href="/detail/1"><img src="<%= asset_url('agent_3.jpg') %>" alt="Work 1"/></a>
                </div>
                <div class="agent-name">Võ Thu Hương</div>
                <div class="agent-job">Tu vấn viên Sunnyworld</div>
                <div class="agent-email">huong.vo@sunnyworld.com</div>
          </div>
          <!-- end work -->
        </div>
        <!-- end col-3 -->
      </div>
    </div>
  </div>

<div class="item no-background">
  <div class="container" data-animation="true" data-animation-type="fadeInDown">

    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_1.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Nguyễn Văn Cường</div>
              <div class="agent-job">Tu vấn viên Sunnyworld</div>
              <div class="agent-email">cuong.nguyen@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_2.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Trần Lan Anh</div>
              <div class="agent-job">Tu vấn viên tự do</div>
              <div class="agent-email">anh.tran@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_3.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Võ Thu Hương</div>
              <div class="agent-job">Tu vấn viên Sunnyworld</div>
              <div class="agent-email">huong.vo@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
  </div>
</div>
<div class="item no-background">
  <div class="container" data-animation="true" data-animation-type="fadeInDown">

    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_1.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Nguyễn Văn Cường</div>
              <div class="agent-job">Tu vấn viên Sunnyworld</div>
              <div class="agent-email">cuong.nguyen@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_2.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Trần Lan Anh</div>
              <div class="agent-job">Tu vấn viên tự do</div>
              <div class="agent-email">anh.tran@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
              <div class="image">
                <a href="/detail/1"><img src="<%= asset_url('agent_3.jpg') %>" alt="Work 1"/></a>
              </div>
              <div class="agent-name">Võ Thu Hương</div>
              <div class="agent-job">Tu vấn viên Sunnyworld</div>
              <div class="agent-email">huong.vo@sunnyworld.com</div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
  </div>
</div>
