<!-- begin css -->
<link href="/assets/isotope.css" rel="stylesheet"/>
<link href="/assets/lightbox.css" rel="stylesheet"/>
<!-- end css -->

<%= javascript_include_tag 'jquery.isotope', 'gallery.demo', 'sunny-detail', 'qrcode.min', 'lightbox-2.6.min', 'data-turbolinks-track' => "reload" %>


<div class="detail-container">

  <!-- Begin Content -->
  <div class="detail-content">

    <div class="detail-content-title">
      <h1>Nhà quận 1 Mạc Đĩnh Chi</h1>
      <h6>Mạc Đĩnh Chi, Quận 1, Hồ Chí Minh</h6>
    </div>

    <!-- Begin frame 3d -->
    <div class="detail-content-cover row">
      <div class="detail-icon-expand">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        <p>15 ảnh</p>
      </div>

      <a class="col-lg-4 col-sm-12 col-md-4 col-xs-12 no-padding" href="/assets/canho1.jpg" data-lightbox="gallery-group-1">
        <img src="<%= @coverUrl %>"/>
      </a>
      <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12 no-padding" style="height: 400px; overflow: hidden">
        <iframe class="" style="width: 100%; height: 425px" src="<%= @matterUrl %>&amp;utm_source=hit-content&amp;play=1" frameborder="0" allowfullscreen allowvr></iframe>
      </div>
    </div>
    <!-- End frame 3d -->

    <!-- Begin Info -->
    <div class="detail-content-info container">
      <div class="row">
        <div class="detail-content-info-price col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <h4>9.000.000.000 đ</h4>
          <h6>Giá căn hộ</h6>
        </div>

        <div class="detail-content-info-bedroom col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h4>3</h4>
          <h6>Số phòng ngủ</h6>
        </div>

        <div class="detail-content-info-bathroom col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h4>4</h4>
          <h6>Số phòng tắm</h6>
        </div>

        <div class="detail-content-info-size col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <h4>200m2</h4>
          <h6>Kích thước hộ</h6>
        </div>

        <div class="detail-content-info-vr col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div id="qrcode"></div>
          <img class="detail-content-info-vr-icon" src="/assets/icon_vr.png"/>
        </div>
      </div>
    </div>
    <!-- End Info -->

    <!-- Begin Description -->
    <div class="detail-content-description container">
      <div class="row">
        <h4 class="col-lg-2 col-md-2 col-sm-4 col-xs-4">Mô tả</h4>
        <h6 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Cần bán gấp căn hộ giao nhà trước Tết - căn hộ cao cấp The Park Residence căn góc vị trí đẹp nằm ngay MT Nguyễn Hữu Thọ block B2 – block đầu tiên của The Park Residence, chuẩn bị giao nhà vào cuối tháng 12-2016 này.

          Giá bán 1.850 tỷ/ căn (giá bao gồm Vat). DT: 73.86m2, tầng cao góc 2 mặt view Tây Nam - Đông Nam nên căn hộ có view đẹp thoáng nhìn toàn khu Nam và Trung tâm thành phố, tháng 12 giao nhà hoàn thiện có tặng tủ kệ bếp. căn hộ thiết kế chất lượng, rất đẹp, tiện ích xung quanh như công viên, hồ bơi chân mây 2000m2, vườn treo, câu lạc bộ, nhà hàng, phòng gym 3600, trung tâm thương mại,..., cách trung tâm Q1 chỉ có 5 km, liền kề khu biệt thự Ngân Long, Kim Long, Phú Mỹ Hưng, gần siêu thị Lotte Mart, trường ĐH RMIT, Tôn Đức Thắng,...</h6>
      </div>
    </div>
    <!-- End Description -->

    <!-- Begin  -->
    <div class="detail-content-convenience container">
      <div class="row detail-content-dropdown-title" id="convenience-in-dropdown">
        <h4 class="col-lg-11 col-md-11 col-sm-11 col-xs-11">Tiện ích nội khu</h4>
        <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
      </div>
      <div id="convenience-in-content" class="row" style="display: none;">
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Chỗ đậu xe máy</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Chỗ đậu xe ô tô</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Thang máy</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Internet</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Truyền hình cáp</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Hồ bơi</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Phòng gym - spa - Beauty salon</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Công viên</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Sân chơi trẻ em</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Sân nướng BBQ</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Bảo vệ 247</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Cho phép nuôi thú cưng</h6>
      </div>

    </div>
    <!-- End  -->

    <!-- Begin  -->
    <div class="detail-content-convenience container">
      <div class="row detail-content-dropdown-title" id="convenience-out-dropdown">
        <h4 class="col-lg-11 col-md-11 col-sm-11 col-xs-11">Tiện ích dự án</h4>
        <i  class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
      </div>
      <div class="row" id="convenience-out-content" style="display: none;">
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Trung tâm thành phố</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Trung tâm thương mại</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Bệnh viện</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">siêu thị</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Trường Mầm Non</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Trường Tiểu học</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Trường Trung học</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Rạp chiếu phim</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Nhà hàng</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Công viên</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Khu công nghiệp</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Chợ</h6>
      </div>
    </div>
    <!-- End  -->

    <!-- Begin  -->
    <div class="detail-content-furniture container">
      <div class="row detail-content-dropdown-title" id="furniture-dropdown" >
        <h4 class="col-lg-11 col-md-11 col-sm-11 col-xs-11">Nội thất</h4>
        <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
      </div>
      <div class="row" id="furniture-content" style="display: none;">
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Sofa</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Nhà bếp</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Thiết bị bếp</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Bàn trang điểm</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Tivi</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Tủ lạnh</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Lò vi sóng</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Giường</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Thiết bị âm thanh</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Bàn ăn</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Tủ bếp</h6>
        <h6 class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Tủ quần áo</h6>
      </div>
    </div>
    <!-- End  -->

    <!-- Begin Map -->
    <div class="detail-map container">
      <div class="row">
        <div class="detail-map col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="detail-map-view" id="map"></div>
        </div>
      </div>
    </div>
    <!-- End Map-->
  </div>
  <!-- End Content -->

</div>


<!-- Begin Gallery-->
<div id="gallery" style="display: none;">
  <a href="/assets/canho1.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho1.jpg" alt="">
  </a>
  <a href="/assets/canho2.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho2.jpg" alt="">
  </a>
  <a href="/assets/canho3.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho3.jpg" alt="">
  </a>
</div>
<!-- End Gallery -->

<script>
  $(document).ready(function () {
    Gallery.init();

    var qrcode = new QRCode("qrcode", {
      text: "<%= @matterUrl %>",
      width: 80,
      height: 80,
      colorDark: "#000000",
      colorLight: "#ffffff",
      correctLevel: QRCode.CorrectLevel.H
    });
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Constant::GOOGLE_SERVER_KEY %>&callback=initMap" async defer></script>
<!-- end script -->
