<!-- begin css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Judson" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">

<!-- end css -->
<%= javascript_include_tag 'application', 'pace',  'sunny-home',  'data-turbolinks-track' => true %>

<!-- begin #home -->
<div id="home" class="content has-bg home">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="<%= asset_url('sunnyworld_background4.png') %>" alt="Home"/>
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container home-content">

    <div class="home-card-type input-group-btn">
      <div class="" data-toggle="dropdown" aria-expanded="true">
        <p id="menu-card-title">Loại bất động sản</p>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <ul class="dropdown-menu">
        <% @estates.each_with_index do |estate, idx| %>
            <li class="menu-card-type" data-id="<%= estate.id %>" data-name="<%= estate.name %>"><%= estate.name %></li>
        <% end %>
      </ul>

    </div>


    <div class="home-card-search">
      <i class="fa fa-search"></i>
      <input type="text" class="home-input-search" id="input-search-place"
             <% if @searchText != nil %> value="<%= @searchText %>"
             <% end %>
             placeholder="Tên thành phố, quận, huyện cần tìm kiếm"
             onFocus="geoLocate()"
             oninput="this.onchange();"/>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end #home -->

<!-- begin Sample -->
<div class="content home-content-sample" data-scrollview="true">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">BẤT ĐỘNG SẢN NỔI BẬT</h2>
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho1.jpg') %>" alt="Work 1"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ Quận 5</span>
            <span class="desc-text">Phan Văn Trị, phường 2, Quận 5, HCM</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/2"><img src="<%= asset_url('canho3.jpg') %>" alt="Work 3"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ gần CC Dreamhome</span>
            <span class="desc-text">61 Đường số 59, phường 14, Gò Vấp, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho5.jpg') %>" alt="Work 5"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ Nguyễn Tất Thành</span>
            <span class="desc-text">504 Nguyễn Tất Thành, phường 18, Quận 4, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->

    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho2.jpg') %>" alt="Work 2"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Nhà quận 1 Nguyễn Bỉnh Khiêm</span>
            <span class="desc-text">Nguyễn Bỉnh Khiêm, Quận 1, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho4.jpg') %>" alt="Work 4"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Nhà quận 1 Mạc Đĩnh Chi</span>
            <span class="desc-text">Mạc Đĩnh Chi, Quận 1, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <img src="<%= asset_url('banner.jpg') %>" alt="Work 6"/>
      </div>
      <!-- end col-3 -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>

<div class="content property-news" data-scrollview="true">
  <div class="heading">TIN BẤT ĐỘNG SẢN</div>
  <div id="propertyNews" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#propertyNews" data-slide-to="0" class=""></li>
        <li data-target="#propertyNews" data-slide-to="1" class=""></li>
        <li data-target="#propertyNews" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active no-background">
          <div class="container">
            <div class="row vcenter">
              <div class="col-md-4">
                <div class="property-detail-left">
                  <div class="title">MILLENNIUM</div>
                  <div class="brief">Biểu tượng mới của cuộc sống đẳng cấp</div>
                  <div class="desc">MILLENNIUM mang âm hưởng của kiến trúc hiện đại, nhẹ nhàng và được trau chuốt tinh tế. Dưới bàn tay của những kiến trúc sư tài ba, MILLENNIUM không chỉ là một kết quả của nghệ thuật thiết kế đương đại, mà còn sở hữu những nét kiến trúc “khác biệt, độc đáo” trường tồn theo thời gian.</div>
                  <div>
                    <p><a class="btn" href="#">Xem Thêm</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <span><img src="<%= asset_url("phoi-canh-millum.jpg") %>" alt="" class="property-detail-img"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#propertyNews" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
          <img src="<%= asset_url("ic-arrow-left.png") %>" alt="">
        </span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#propertyNews" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
          <img src="<%= asset_url("ic-arrow-right.png") %>" alt="">
        </span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<!-- end Sample -->

<div class="content ads" data-scrollview="true">
  <img src="<%= asset_url('ads_horizontal.png') %>"/>
</div>

<div class="content home-content-agent" data-scrollview="true">
  <div class="heading">TƯ VẤN VIÊN</div>
  <div id="agentsInfo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#agentsInfo" data-slide-to="0" class=""></li>
      <li data-target="#agentsInfo" data-slide-to="1" class=""></li>
      <li data-target="#agentsInfo" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="item active no-background">
        <div class="container" data-animation="true" data-animation-type="fadeInDown">

          <div class="row row-space-10">
            <!-- begin col-3 -->
            <div class="col-md-4 col-sm-6">
              <!-- begin work -->
              <div class="home-card-agent">
                    <div class="image">
                      <a href="/detail/1"><img src="<%= asset_url('agent_1.jpg') %>" alt="Work 1"/></a>
                    </div>
                    <div class="agent-name">Nguyễn Văn Cường</div>
                    <div class="agent-job">Tu vấn viên Sunnyworld</div>
                    <div class="agent-email">cuong.nguyen@sunnyworld.com</div>
              </div>
              <!-- end work -->
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-4 col-sm-6">
              <!-- begin work -->
              <div class="home-card-agent">
                    <div class="image">
                      <a href="/detail/1"><img src="<%= asset_url('agent_2.jpg') %>" alt="Work 1"/></a>
                    </div>
                    <div class="agent-name">Trần Lan Anh</div>
                    <div class="agent-job">Tu vấn viên tự do</div>
                    <div class="agent-email">anh.tran@sunnyworld.com</div>
              </div>
              <!-- end work -->
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-4 col-sm-6">
              <!-- begin work -->
              <div class="home-card-agent">
                    <div class="image">
                      <a href="/detail/1"><img src="<%= asset_url('agent_3.jpg') %>" alt="Work 1"/></a>
                    </div>
                    <div class="agent-name">Võ Thu Hương</div>
                    <div class="agent-job">Tu vấn viên Sunnyworld</div>
                    <div class="agent-email">huong.vo@sunnyworld.com</div>
              </div>
              <!-- end work -->
            </div>
            <!-- end col-3 -->
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#propertyNews" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
        <img src="<%= asset_url("ic-arrow-left.png") %>" alt="">
      </span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#propertyNews" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
        <img src="<%= asset_url("ic-arrow-right.png") %>" alt="">
      </span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  <p class="show-more"><a class="btn" href="#">Xem Thêm</a></p>
</div>


<!-- end Agent -->



<!-- begin script -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Constant::GOOGLE_SERVER_KEY %>&libraries=places&callback=initAutocomplete&language=en-US" async defer></script>


<!-- end script -->
