<!-- begin css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Judson" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">

<!-- end css -->
<%= javascript_include_tag 'application', 'pace',  'sunny-home',  'data-turbolinks-track' => true %>

<!-- begin #home -->
<div id="home" class="content has-bg home">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="<%= asset_url('sunnyworld_background.jpg') %>" alt="Home"/>
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container home-content">
    <h1 class="home-title">Tìm kiếm căn hộ</h1>

    <div class="home-card-type input-group-btn">
      <div class="" data-toggle="dropdown" aria-expanded="true">
        <p id="menu-card-title">Loại bất động sản</p>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>

      <ul class="dropdown-menu">
        <% @estates.each_with_index do |estate, idx| %>
            <li class="menu-card-type" data-id="<%= estate.id %>" data-name="<%= estate.name %>"><%= estate.name %></li>
        <% end %>
      </ul>

    </div>


    <div class="home-card-search">
      <i class="fa fa-search"></i>
      <input type="text" class="home-input-search" id="input-search-place"
             <% if @searchText != nil %> value="<%= @searchText %>"
             <% end %>
             placeholder="Tên thành phố, quận, huyện cần tìm kiếm"
             onFocus="geoLocate()"
             oninput="this.onchange();"/>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end #home -->

<!-- begin Sample -->
<div class="content home-content-sample" data-scrollview="true">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">Bất động sản nổi bật</h2>
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho1.jpg') %>" alt="Work 1"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ Quận 5</span>
            <span class="desc-text">Phan Văn Trị, phường 2, Quận 5, HCM</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/2"><img src="<%= asset_url('canho3.jpg') %>" alt="Work 3"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ gần CC Dreamhome</span>
            <span class="desc-text">61 Đường số 59, phường 14, Gò Vấp, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho5.jpg') %>"" alt="Work 5"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Căn hộ Nguyễn Tất Thành</span>
            <span class="desc-text">504 Nguyễn Tất Thành, phường 18, Quận 4, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->

    </div>
    <!-- end row -->
    <!-- begin row -->
    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho2.jpg') %>" alt="Work 2"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Nhà quận 1 Nguyễn Bỉnh Khiêm</span>
            <span class="desc-text">Nguyễn Bỉnh Khiêm, Quận 1, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-mini">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('canho4.jpg') %>" alt="Work 4"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Nhà quận 1 Mạc Đĩnh Chi</span>
            <span class="desc-text">Mạc Đĩnh Chi, Quận 1, Hồ Chí Minh</span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <img src="<%= asset_url('banner.jpg') %>" alt="Work 6"/>
      </div>
      <!-- end col-3 -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end Sample -->

<!-- begin Agent -->
<div class="content home-content-agent" data-scrollview="true">
  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInDown">
    <h2 class="content-title">Môi giới viên</h2>

    <div class="row row-space-10">
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('agent_1.jpg') %>" alt="Work 1"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Johny Nguyen</span>
            <span class="desc-text"></span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
          <div class="image">
            <a href="/detail/2"><img src="<%= asset_url('agent_2.jpg') %>" alt="Work 3"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Jennifer Pham</span>
            <span class="desc-text"></span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-4 col-sm-6">
        <!-- begin work -->
        <div class="home-card-agent">
          <div class="image">
            <a href="/detail/1"><img src="<%= asset_url('agent_3.jpg') %>" alt="Work 5"/></a>
          </div>
          <div class="desc">
            <span class="desc-title">Charlie Tran</span>
            <span class="desc-text"></span>
          </div>
        </div>
        <!-- end work -->
      </div>
      <!-- end col-3 -->
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end Agent -->


<!-- begin #milestone -->
<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
  <!-- begin content-bg -->
  <div class="content-bg">
    <img src="<%= asset_url('milestone-bg.jpg') %>" alt="Milestone"/>
  </div>
  <!-- end content-bg -->
  <!-- begin container -->
  <div class="container">
    <!-- begin row -->
    <div class="row">
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
          <div class="title">Căn hộ, nhà ở</div>
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="54039">54,039</div>
          <div class="title">Lượt xem</div>
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="919">919</div>
          <div class="title">Nhà đã bán</div>
        </div>
      </div>
      <!-- end col-3 -->
      <!-- begin col-3 -->
      <div class="col-md-3 col-sm-3 milestone-col">
        <div class="milestone">
          <div class="number" data-animation="true" data-animation-type="number" data-final-number="129">129</div>
          <div class="title">Chủ đầu tư</div>
        </div>
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #milestone -->


<!-- begin script -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Constant::GOOGLE_SERVER_KEY %>&libraries=places&callback=initAutocomplete&language=en-US" async defer></script>


<!-- end script -->
